@import "~src/styles/utils/variables";

:host {
    display: block;
    font-weight: 700;
    font-size: 90px;
    line-height: 120%;

    color: $white;

    @media(max-width: $breakpointMain){
        font-size: 45px;
    }
}