@use '../utils/variables' as *;

.circle-image {
    flex-shrink: 0;
    position: relative;
    display: flex;
    align-items: center;

    img {
        width: 240px;
        height: 240px;
        object-fit: cover;
        border: 4px solid $green;
        border-radius: 100%;
    }
}

.circle-image-before-line {
    img {
        margin-right: auto;
    }

    &::before {
        content: "";
        display: inline-block;
        width: $padding-main-left-right-max;
        height: 4px;
        background-color: $green;
        position: absolute;
        left: -$padding-main-left-right-max;

        @media(max-width: $breakpoint-main) {
            width: $padding-main-left-right-min;
            left: -$padding-main-left-right-min;
        }
    }
}

.circle-image-after-line {
    img {
        margin-left: auto;
    }

    &::after {
        content: "";
        display: inline-block;
        width: $padding-main-left-right-max;
        height: 4px;
        background-color: $green;
        position: absolute;
        right: -$padding-main-left-right-max;

        @media(max-width: $breakpoint-main) {
            width: $padding-main-left-right-min;
            right: -$padding-main-left-right-min;
        }
    }
}

.circle-image-no-object-fit {
    img {
        object-fit: none;
    }
}
