.circle-image {
    flex-shrink: 0;
    position: relative;
    display: flex;
    align-items: center;

    img {
        width: 453px;
        height: 453px;
        object-fit: cover;
        border: 4px solid $green;
        border-radius: 100%;
        max-width: 70vh;
        max-height: 70vh;

        @media(width <= 560px) {
            width: 70vw;
            height: 70vw;
        }
    }
}

.circle-image-before-line {
    img {
        margin-right: auto;
    }

    &::before {
        content: "";
        display: inline-block;
        width: $padding-main-left-right-max;

        @media(max-width: $breakpoint-main) {
            width: $padding-main-left-right-min;
            left: -$padding-main-left-right-min;
        }

        height: 4px;
        background-color: $green;
        position: absolute;
        left: -$padding-main-left-right-max;
    }
}

.circle-image-after-line {
    img {
        margin-left: auto;
    }

    &::after {
        content: "";
        display: inline-block;
        width: $padding-main-left-right-max;

        @media(max-width: $breakpoint-main) {
            width: $padding-main-left-right-min;
            right: -$padding-main-left-right-min;
        }

        height: 4px;
        background-color: $green;
        position: absolute;
        right: -$padding-main-left-right-max;
    }
}

.circle-image-no-object-fit {
    img {
        object-fit: none;
    }
}
