.circle-image {
    flex-shrink: 0;
    position: relative;
    display: flex;
    align-items: center;

    img {
        width: 453px;
        height: 453px;
        object-fit: cover;
        border: 4px solid $green;
        border-radius: 100%;
        max-width: 70vh;
        max-height: 70vh;

        @media(max-width: 560px) {
            width: 70vw;
            height: 70vw;
        }
    }
}

.circle-image--before-line {
    img {
        margin-right: auto;
    }

    &::before {
        content: "";
        display: inline-block;
        width: $paddingMainLeftRightMax;

        @media(max-width: $breakpointMain) {
            width: $paddingMainLeftRightMin;
            left: -$paddingMainLeftRightMin;
        }

        height: 4px;
        background-color: $green;
        position: absolute;
        left: -$paddingMainLeftRightMax;
    }
}

.circle-image--after-line {
    img {
        margin-left: auto;
    }

    &::after {
        content: "";
        display: inline-block;
        width: $paddingMainLeftRightMax;

        @media(max-width: $breakpointMain) {
            width: $paddingMainLeftRightMin;
            right: -$paddingMainLeftRightMin;
        }

        height: 4px;
        background-color: $green;
        position: absolute;
        right: -$paddingMainLeftRightMax;
    }
}

.circle-image--no-object-fit {
    img {
        object-fit: none;
    }
}