@import "~src/styles/utils/variables.scss";

:host {
   .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    background: $darkblue;
    backdrop-filter: blur(32.5px);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
   }
}