<footer class="padding-main group-center-wrap">
  <div class="group-first text-left">
    <app-logo></app-logo>
    <a
      href="/imprint"
      class="menu-link text-normal-regular"
      routerLink="/imprint"
      title="View legal imprint information"
      >Impressum</a
    >
  </div>

  <div class="group-middle text-middle" style="white-space: nowrap">© Mihai-Andrei Neacsu</div>
  <div class="group-last text-right">
    <app-social class="margin-left-auto"></app-social>
  </div>
</footer>
