@import "~src/styles/utils/variables";

:host {
    display: block;
    position: relative;

    svg.shadow {
        position: absolute;
        top: -100px;
        right: 0;
        z-index: -1;
        @media(max-width: $breakpointMain){
            height: 415.93px;
        }
    }

    .social-contact {
        &::before {
            content: "";
            display: inline-block;
            width: 100px;
            @media(max-width: $breakpointMain){
                width: 64px;
            }
            height: 4px;
            background-color: $purple;
        }

        display: flex;
        align-items: center;
        gap: 40px;

        .menu-link{
            @media(max-width: $breakpointMain){
                display: none;
            }
        }
    }

    .about-me {
        display: flex;
        justify-content: space-between;

        .about-text {
            position: relative;
            @media(min-width: $breakpointMain){
                max-width: 471px;
            }
            display: flex;
            flex-direction: column;
            gap: 35px;

            font-weight: 400;
            font-size: 16px;
            line-height: 120%;

            .about-points {
                display: flex;
                gap: 35px;

                svg {
                    flex-shrink: 0;
                }
            }
        }
    }
}