@keyframes pulsate-color {
    0%, 100% {
        filter: brightness(100%);
    }

    50% {
        filter: brightness(150%);
    }
}

.pulsating-color {
    animation: pulsate-color 2s infinite ease-in-out;
}

@keyframes pulsate-opacity {
    0%, 100% {
        fill-opacity: 1;
    }

    50% {
        fill-opacity: 0.5;
    }
}

.pulsating-opacity {
    animation: pulsate-opacity 2s infinite ease-in-out;
}

@keyframes pulsate {
    0%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

.pulsating {
    animation: pulsate 2s infinite ease-in-out;
}

@keyframes pulsate-fill {
    0%, 100% {
        fill: #9747FF; /* Original color */
    }

    50% {
        fill: #B888FF; /* Lighter shade for the pulsating effect */
    }
}

.pulsating-fill {
    animation: pulsate-fill 3s infinite ease-in-out;
}
