.padding-main{
    padding: $padding-main-top-bottom $padding-main-left-right-max;

    @media(max-width: $breakpoint-main){
        padding: $padding-main-top-bottom $padding-main-left-right-min;
    }
}

.margin-bottom-regular{
    margin-bottom: $spacing-regular;
}

.margin-bottom-big{
    margin-bottom: $spacing-big;
}

.margin-top-big{
    margin-top: $spacing-big;
}

.margin-bottom-mid{
    margin-bottom: $spacing-mid;
}

.margin-top-mid{
    margin-top: $spacing-mid;
}

.padding-bottom-regular{
    padding-bottom: $spacing-regular;
}

.padding-bottom-big{
    padding-bottom: $spacing-big;
}

.padding-top-big{
    padding-top: $spacing-big;
}

.padding-bottom-mid{
    padding-bottom: $spacing-mid;
}

.padding-top-mid{
    padding-top: $spacing-mid;
}

.margin-bottom-auto{
    margin-bottom: auto;
}

.margin-left-auto{
    margin-left: auto;
}
