.padding-main{
    padding: $paddingMainTopBottom $paddingMainLeftRightMax;
    @media(max-width: $breakpointMain){
        padding: $paddingMainTopBottom $paddingMainLeftRightMin;
    }
}

.margin-bottom-regular{
    margin-bottom: $marginBottomRegular;
}

.margin-bottom-big{
    margin-bottom: $marginBottomBig;
}

.margin-top-big{
    margin-top: $marginTopBig;
}