$white: #fff;
$darkblue: #141D2F;
$purple-light: #9747FF;
$purple: #6A00F5;
$green-light: #70E61C;
$green: #2E7A00;
$red: #E61C40;
$transparent: rgb(0 0 0 / 0%);
$padding-main-top-bottom: 37px;
$padding-main-left-right-max: 100px;
$padding-main-left-right-min: 25px;
$spacing-regular: 15px;
$spacing-mid: 25px;
$spacing-big: 35px;
$breakpoint-main: 800px;
$max-width: 1440px;
$toggle-width: 500px;
