$white: #ffffff;
$darkblue: #141D2F;
$purple: #9747FF;
$green: #70E61C;
$red: #E61C40;
$transparent: rgba(0,0,0,0);

$paddingMainTopBottom: 37px;
$paddingMainLeftRightMax: 100px;
$paddingMainLeftRightMin: 25px;

$spacingRegular: 15px;
$spacingMid: 25px;
$spacingBig: 35px;

$breakpointMain: 800px;