$white: #ffffff;
$darkblue: #141D2F;
$purple: #9747FF;
$green: #70E61C;
$transparent: rgba(0,0,0,0);

$paddingMainTopBottom: 37px;
$paddingMainLeftRightMax: 100px;
$paddingMainLeftRightMin: 25px;

$breakpointMain: 800px;