@import "~src/styles/utils/variables";

:host {
    display: flex;
    flex-direction: column;
    gap: 35px;

    text-align: center;

    @media(max-width: $breakpointMain){
        gap: 25;
    }
}