@use "utils/variables" as *;

.form-field {
    position: relative;

    .feedback-input{
        position: absolute;
        bottom: 10px;
        height: 15px;
    }

    .feedback-progress{
        display: flex;
        width: 100%;
        align-items: center;
        gap: 10px;

        .progress-bar{
            flex: 1;
            height: 100%;
            border-radius: 4px;
        }

        .progress-counter{
            width: 125px;
            font-variant-numeric: tabular-nums;
            display: flex;
        }
    }

    .sign{
        position: absolute;
        right: 25px;
        top: 11px;
    }

    input,
    textarea {
        font-family: Poppins, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: $white;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px 50px 15px 25px;
        gap: 10px;
        width: 100%;
        background: $darkblue;
        border: 1px solid $purple;
        border-radius: 10px;

        &:focus-visible{
            outline: none;
        }

        &:not(.invalid):hover{
            border: 1px solid $green;
        }
    }

    .invalid{
        outline: none;
        border: 1px solid $red;
    }
}
