<div class="main padding-main">
  <div class="hero circle-image" [@visibleHidden]="toggleMe">
    <img
      width="240"
      height="240"
      #me
      (load)="updateCurve()"
      src="assets/images/me.webp"
      alt="Portrait of me in a shirt for my profile photo"
      title="Profile picture"
    />
  </div>

  <div class="intro white-space-no-wrap">
    <h1 class="text" [@visibleHiddenIntro]="toggleMe">
      <span class="i-am">I am</span>
      <span>
        <span class="name">Mihai-Andrei<br />Neacsu</span>
        <br />
        <span class="job">FULLSTACK DEVELOPER</span>
      </span>
    </h1>
    <button
      type="button"
      [@visibleHiddenButton]="toggleMe"
      class="contact button-green-white"
      [appScrollTo]="'contact'"
    >
      Let's Talk
    </button>
  </div>
</div>

<div class="hero-bg">
  <svg class="shift-form" width="597" height="690" viewBox="0 0 597 690" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_f_11_243)">
      <path
        d="M154.832 381.216C-18.3301 333.362 228.52 93.6728 228.52 93.6728C228.52 93.6728 287.326 297.414 368.382 202.843C449.439 108.271 392.764 297.416 466.564 383.74C540.365 470.064 481.494 495.125 481.494 495.125C481.494 495.125 404.753 637.634 342.202 584.92C279.652 532.207 207.016 498.873 179.513 452.473C154.712 410.633 171.242 395.659 197.236 392.548C184.85 389.372 170.77 385.621 154.832 381.216Z"
        fill="#2E7A00"
      />
    </g>
    <defs>
      <filter
        id="filter0_f_11_243"
        x="0.223267"
        y="0.672729"
        width="596.516"
        height="688.947"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="46.5" result="effect1_foregroundBlur_11_243" />
      </filter>
    </defs>
  </svg>
  <svg
    class="shift-form"
    width="512"
    height="794"
    viewBox="-100 0 712 794"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g filter="url(#filter0_f_11_241)">
      <path
        d="M12 330.454C78.8361 199.398 121.135 154.004 133.931 147.689C133.931 147.689 175.139 17.8586 209.573 158.276C244.007 298.693 379.485 100.883 379.485 100.883L419 330.454L264.869 413.887L419 464.742L347.874 701L104.012 500.961L264.869 413.887L12 330.454Z"
        fill="#6A00F5"
      />
    </g>
    <defs>
      <filter
        id="filter0_f_11_241"
        x="-81"
        y="0"
        width="593"
        height="794"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="46.5" result="effect1_foregroundBlur_11_241" />
      </filter>
    </defs>
  </svg>
</div>

<svg
  class="curve"
  #curve
  [attr.width]="width"
  [attr.height]="height"
  [attr.viewBox]="viewBox"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path [attr.d]="curvePathD" fill="url(#paint0_radial_535_3084)" />
  <defs>
    <radialGradient
      id="paint0_radial_535_3084"
      cx="0"
      cy="0"
      r="1"
      gradientUnits="userSpaceOnUse"
      [attr.gradientTransform]="gradientTransform"
    >
      <stop offset="0.00372417" stop-color="#141D2F" />
      <stop offset="0.135417" stop-color="#141D2F" />
      <stop offset="0.719125" stop-color="#141D2F" />
    </radialGradient>
  </defs>
</svg>
