@use "utils/variables" as *;

$breakpoint-desktop: 800px;
$breakpoint-mobile: 400px;

:host {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: auto;
    flex-direction: column;

    .hero {
      overflow: visible;
      position: relative;
      margin-bottom: auto;

      @media(width <=$breakpoint-desktop) {
        max-width: 100%;
        display: flex;
        justify-content: center;
      }

      img {
        position: relative;
        object-position: -14px -19px;
      }
    }

    .intro {
      display: flex;
      flex-direction: column;
      overflow: hidden;

      .text {
        display: inline-flex;
        gap: 35px;
        overflow: hidden;

        @media(width <=$breakpoint-desktop) {
          gap: 10px;
        }

        .i-am {
          text-orientation: mixed;
          writing-mode: vertical-rl;
          transform: rotate(-180deg);
          text-align: center;
          font-weight: 400;
          font-size: 64px;
          line-height: 120%;

          @media(width <=$breakpoint-desktop) {
            font-size: 32px;
          }
        }

        .name {
          font-weight: 700;
          font-size: 90px;
          line-height: 120%;

          @media(width <=$breakpoint-desktop) {
            font-size: 45px;
          }
        }

        .job {
          font-weight: 400;
          font-size: 58px;
          line-height: 120%;
          color: $purple;

          @media(width <=$breakpoint-desktop) {
            font-size: 29px;
          }
        }
      }

      .contact {
        margin: 44px auto;

        @media(width <=$breakpoint-desktop) {
          font-size: 16px;
        }
      }
    }
  }

  .hero-bg {
    position: absolute;
    inset: 0;
    z-index: -1;

    svg:first-child {
      position: absolute;
      left: -45px;
    }

    svg:last-child {
      position: absolute;
      right: -120px;
      top: -150px;
    }
  }

  .curve {
    position: absolute;
    z-index: -1;
    top: 100px;

    @media(width <=$breakpoint-desktop) {
      top: 30px;
    }
  }
}
