<div id="portfolio">
  <app-section-title>
    <h2 class="section-title section-title-left" sectionTitle>Portfolio</h2>
    <p class="section-subtitle padding-main" sectionSubtitle>
      This page is a sample of my work - please feel free to try them out.
    </p>
  </app-section-title>
</div>

<div class="padding-main projects">
  <app-project>
    <div class="circle-image circle-image-before-line group-first" projectImage>
      <img
        src="assets/images/elpolloloco.mihai-andrei-neacsu.de.webp"
        alt="Screenshot of the game El Pollo Loco, which I implemented."
        title="El Pollo Loco - game developed by me"
      />
    </div>

    <div projectDetails class="project-details group-last group-align-right">
      <h3 class="project-name title-normal-bold color-purple-light margin-bottom-regular">El Pollo Loco</h3>
      <h4 class="project-stack subtitle-normal-regular color-green-light margin-bottom-regular white-space-no-wrap">
        JavaScript | HTML | CSS
      </h4>
      <p class="project-description text-normal-regular color-white">
        A simple Jump-and-Run game based on an object-oriented approach. Help Pepe to find coins and salsa bottles to
        fight against the killer chicken.
      </p>
      <div class="margin-top-big buttons-group button-group-align-right">
        <a
          class="button button-purple-white"
          href="https://elpolloloco.mihai-andrei-neacsu.de"
          target="_blank"
          rel="noopener"
          title="Play the El Pollo Loco game live in your browser"
        >
          Live Test
        </a>

        <a
          class="button button-outline-green-white"
          href="https://github.com/crunck78/el_pollo_loco_object_orientation"
          target="_blank"
          rel="noopener"
          title="View the El Pollo Loco game source code on GitHub"
        >
          Github
        </a>
      </div>
    </div>
  </app-project>

  <app-project [reverse]="true">
    <div class="circle-image circle-image-after-line circle-image-no-object-fit group-last" projectImage>
      <img
        src="assets/images/join.mihai-andrei-neacsu.de.svg"
        alt="Logo  of the application Join, which I implemented."
        title="Join - web application developed by me"
      />
    </div>

    <div projectDetails class="project-details group-first">
      <h3 class="project-name title-normal-bold color-purple-light margin-bottom-regular">Join</h3>
      <h4 class="project-stack subtitle-normal-regular color-green-light margin-bottom-regular white-space-no-wrap">
        Angular | Django
      </h4>
      <p class="project-description text-normal-regular color-white">
        This project features a scrum board-like interface where users can create and manage contacts and tasks,
        assigning contacts to specific tasks. The platform allows for organizing tasks into customizable lists.
      </p>
      <div class="margin-top-big buttons-group">
        <a
          class="button button-purple-white"
          href="https://join.mihai-andrei-neacsu.de"
          target="_blank"
          rel="noopener"
          title="Test the Join web app live in your browser"
        >
          Live Test
        </a>

        <a
          class="button button-purple-white"
          href="https://mihaiandrei.pythonanywhere.com/api/docs/"
          target="_blank"
          rel="noopener"
          title="Explore the Join project's backend API documentation"
        >
          Backend API
        </a>
      </div>

      <div class="margin-top-big buttons-group">
        <a
          class="button button-outline-green-white"
          href="https://github.com/crunck78/join-scrum"
          target="_blank"
          rel="noopener"
          title="View the Join frontend source code on GitHub"
        >
          Frontend Github
        </a>

        <a
          class="button button-outline-green-white"
          href="https://github.com/mihaiandreineacsu/scrum-api"
          target="_blank"
          rel="noopener"
          title="View the Join backend API code on GitHub"
        >
          Backend Github
        </a>
      </div>
    </div>
  </app-project>
</div>

<svg
  class="shadow shadow-right"
  width="374"
  height="1021"
  viewBox="0 0 374 1021"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <g filter="url(#filter0_f_105_315)">
    <path
      d="M706.82 99.8534C686.562 33.3324 286.57 491.062 286.57 491.062C286.57 491.062 257.388 623.575 218.094 729.653C142.748 719.563 57.995 787.353 109.185 847.046C145.104 888.931 185.152 818.582 218.094 729.653C258.68 735.088 296.536 763.119 308.947 827.184C344.399 1010.18 432.484 886.406 432.484 886.406C432.484 886.406 475.733 796.206 543.237 785.999L543.838 785.908C610.773 775.79 616.136 774.98 625.753 496.348C635.399 216.885 727.078 166.374 706.82 99.8534Z"
      fill="#2E7A00"
    />
  </g>
  <defs>
    <filter
      id="filter0_f_105_315"
      x="0.572693"
      y="0.246582"
      width="802.16"
      height="1020.08"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
      <feGaussianBlur stdDeviation="46.5" result="effect1_foregroundBlur_105_315" />
    </filter>
  </defs>
</svg>
