:host {
    display: block;
    position: relative;

    .shadow-right {
        position: absolute;
        right: 0;
        bottom: -488.5px;
        z-index: -1;
    }

    .shadow-left {
        position: absolute;
        left: 0;
        bottom: 50%;
        z-index: -1;
    }
}