$toggleWidth: 500px;

:host {
    display: block;
    height: 100%;
    .desktop-view {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 29px;

        font-weight: 400;
        font-size: 23px;
        line-height: 120%;

        @media(max-width: $toggleWidth) {
            display: none;
        }
    }

    .mobile-view {

        @media(min-width: $toggleWidth) {
            display: none;
        }

        .menu-toggler {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 14px;

            position: relative;
            z-index: 999;

            height: 37px;
        }

        .menu {
            position: absolute;
            inset: 0;
            overflow-y: hidden;
            background: rgba(20, 29, 47, 0.8);

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 29px;
        }
    }

}