<nav class="desktop-view">
  <button type="button" class="menu-link" [appScrollTo]="'about-me'">About me</button>
  <button type="button" class="menu-link" [appScrollTo]="'my-skills'">My skills</button>
  <button type="button" class="menu-link" [appScrollTo]="'portfolio'">Portfolio</button>
  <button type="button" class="menu-link" [appScrollTo]="'contact'">Contact</button>
</nav>

<button
  type="button"
  class="mobile-view"
  aria-label="Toggle menu view"
  (touchstart)="toggleView($event)"
  (click)="toggleView($event)"
>
  <div class="menu-toggler">
    <svg
      #topLine
      [@openCloseTogglerFirst]="toggleMenu"
      width="32"
      height="3"
      viewBox="0 0 32 3"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M1 1.5127H31" stroke="white" stroke-width="2" stroke-linecap="round" />
    </svg>
    <svg
      #middleLine
      [@openCloseTogglerMiddle]="toggleMenu"
      width="32"
      height="3"
      viewBox="0 0 32 3"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M1 1.5127H31" stroke="white" stroke-width="2" stroke-linecap="round" />
    </svg>
    <svg
      #bottomLine
      [@openCloseTogglerLast]="toggleMenu"
      width="32"
      height="3"
      viewBox="0 0 32 3"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M1 1.5127H31" stroke="white" stroke-width="2" stroke-linecap="round" />
    </svg>
  </div>

  <div #menu [@openCloseMenu]="toggleMenu" class="menu">
    <button type="button" class="menu-link" [appScrollTo]="'about-me'">About me</button>
    <button type="button" class="menu-link" [appScrollTo]="'my-skills'">My skills</button>
    <button type="button" class="menu-link" [appScrollTo]="'portfolio'">Portfolio</button>
    <button type="button" class="menu-link" [appScrollTo]="'contact'">Contact</button>
  </div>
</button>
