<div class="desktop-view">
    <a class="menu-link" routerLink="/" fragment="">About me</a>
    <a class="menu-link" routerLink="/" fragment="">Skills</a>
    <a class="menu-link" routerLink="/" fragment="">Portfolio</a>
</div>

<div class="mobile-view" (click)="toggleView()">
    <div class="menu-toggler">
        <svg #topLine [@openCloseTogglerFirst]="toggleMenu" width="32" height="3" viewBox="0 0 32 3" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1.5127H31" stroke="white" stroke-width="2" stroke-linecap="round" />
        </svg>
        <svg #middleLine [@openCloseTogglerMiddle]="toggleMenu" width="32" height="3" viewBox="0 0 32 3" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1.5127H31" stroke="white" stroke-width="2" stroke-linecap="round" />
        </svg>
        <svg #bottomLine [@openCloseTogglerLast]="toggleMenu" width="32" height="3" viewBox="0 0 32 3" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1.5127H31" stroke="white" stroke-width="2" stroke-linecap="round" />
        </svg>
    </div>

    <div #menu [@openCloseMenu]="toggleMenu" class="menu">
        <a class="menu-link" routerLink="/" fragment="">About me</a>
        <a class="menu-link" routerLink="/" fragment="">My skills</a>
        <a class="menu-link" routerLink="/" fragment="">Portfolio</a>
        <a class="menu-link" routerLink="/" fragment="">Contact</a>
    </div>
</div>