<div>
    <app-section-title>
        <div class="section-title section-title-left" sectionTitle>
            Portfolio
        </div>
        <div class="section-subtitle" sectionSubtitle>
            This page is a sample of my work - please feel free to try them out.
        </div>
    </app-section-title>
</div>

<div class="padding-main projects">
    <app-project>
            <div class="circle-image circle-image--before-line group-first" projectImage>
                <img src="assets/images/elpolloloco.mihai-andrei-neacsu.de.png" alt="project_image">
            </div>

            <div projectDetails class="group-last">
                <div class="project-name title-normal-bold color-purple margin-bottom-regular">El Pollo Loco</div>
                <div class="project-stack subtitle-normal-regular color-green margin-bottom-regular white-space-no-wrap">JavaScript | HTML |
                    CSS</div>
                <div class="project-description text-normal-regular color-white">A simple Jump-and-Run game based on an
                    object-oriented approach. Help sharkie to find coins and poison bottles to fight against the killer
                    whale.</div>
                <div class="margin-top-big buttons-group">
                    <a class="button" href="https://elpolloloco.mihai-andrei-neacsu.de" target="_blank">
                        <button class="button-purple-white">Live Test</button>
                    </a>

                    <a class="button" href="https://github.com/crunck78/el_pollo_loco_object_orientation"
                        target="_blank">
                        <button class="button-outline-green-white">Github</button>
                    </a>
                </div>
            </div>
    </app-project>
</div>