@import "~src/styles/utils/_variables";

:host {
    display: block;
    position: relative;

    .shadow {
        position: absolute;
        max-width: 100%;
        bottom: 0;
        z-index: -1;
    }
}

input,
textarea {
    &:not(:not(textarea)) {
        resize: vertical;
        min-height: 90px;
    }

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: $white;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 50px;
    gap: 10px;

    width: 100%;
    background: $darkblue;
    border: 1px solid $purple;
    border-radius: 10px;
    &:focus-visible {
        outline: none;
    }

    &:not(.invalid):hover {
        border: 1px solid $green;
    }
}

@media(min-width: 300px) {

    .form-group,
    .form-text {
        min-width: 300px;
    }
}