/* You can add global styles to this file, and also import other style files */
@use "./styles/main" as *;
@use "./styles/utils/variables" as *;

body{
    margin: 0;
    font-family: Poppins, sans-serif;
    background: $darkblue;
    color: $white;
}
