@import "~src/styles/utils/_variables";
$breakpointMain: 1000px;

:host {
    display: block;
    position: relative;
    margin-top: 111px;
    .main {
        display: flex;
        align-items: center;
        justify-content: center;

        @media(max-width: $breakpointMain){
            flex-direction: column;
            justify-content: center;
        }

        .hero {
            position: relative;
            max-height: 60vh;
            @media(max-width: $breakpointMain){
                width: 95vw;
                max-width: 100%;
                display: flex;
                justify-content: center;

            }
            img{
                max-height: 60vh;
                max-width: 100%;
                position: relative;
                z-index: -2;
            }

            .hero-bg {
                position: absolute;
                inset: 0;
                z-index: -3;

                svg:first-child {
                    position: absolute;
                    left: 0;
                }

                svg:last-child {
                    position: absolute;
                    right: 0;
                }

                @media(max-width: $breakpointMain){
                    svg{
                        max-width: calc(95vw - (2*$paddingMainLeftRightMin));
                        height: 100%;
                    }
                }
            }

            .curve{
                position: absolute;
                z-index: -1;
                bottom: -40vw;
            }
        }

        .intro {

            display: flex;
            flex-direction: column;

            .text {
                display: inline-flex;
                gap: 35px;

                @media(max-width: 600px) {
                    gap: 10px;
                }

                .i-am {
                    text-orientation: mixed;
                    writing-mode: vertical-rl;
                    transform: rotate(-180deg);
                    text-align: center;
                    font-weight: 400;
                    font-size: 64px;
                    line-height: 120%;

                    @media(max-width: $breakpointMain){
                        font-size: 32px;
                    }
                }

                .name {
                    font-weight: 700;
                    font-size: 90px;
                    line-height: 120%;
                    @media(max-width: $breakpointMain){
                        font-size: 45px;
                    }
                }

                .job {
                    font-weight: 400;
                    font-size: 58px;
                    line-height: 120%;
                    color: $purple;
                    @media(max-width: $breakpointMain){
                        font-size: 29px;
                    }
                }
            }

            .contact {
                margin: 44px auto;
                @media(max-width: $breakpointMain){
                    font-size: 16px;
                }
            }
        }
    }
}